html{height:100%;}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(9,9,121);
    background: -webkit-linear-gradient(-90deg, rgb(52, 3, 73) 0%, rgb(122, 17, 148) 35%, rgba(0,212,255,1) 100%);
    background: -o-linear-gradient(-90deg, rgb(52, 3, 73) 0%, rgba(122, 17, 148) 35%, rgba(0,212,255,1) 100%);
    background: -moz-linear-gradient(-90deg, rgb(52, 3, 73) 0%, rgba(122, 17, 148) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(-90deg, rgb(52, 3, 73) 0%, rgba(122, 17, 148) 35%, rgba(0,212,255,1) 100%);
    text-shadow: 1px 1px 2px grey;
}
body p{
    font-family: sans-serif;
}

body h2{
    font-family: sans-serif;
}

#createUser, #loginUser{
    display:inline-block;
}

.buttonheader{
    background: rgba(161, 161, 161,0.7);
    height:40px;
    font-size: 30px;
    padding-left:5px;
}

.fa-home{
    color: black;

}
.fa-home:hover{
    color: rgb(56, 56, 56)
}
.fa-edit{
    color: black;
    transform: translateY(2px);
}
.fa-edit:hover{
    color: rgb(56, 56, 56)
}
.fa-trash{
    color: black;
}
.fa-trash:hover{
    color: rgb(56, 56, 56)
}
.fa-user{
    color: black;
}
.fa-user:hover{
    color: rgb(56, 56, 56)
}
.header{
    padding-left: 10px;
}

.box, .Oldbox, .Updatebox{
/*     width: 30%;
    height: 55%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
     */
    width:500px;
    height:600px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    background: rgba(41, 41, 41, 0.5);
    text-align: center;
    border-radius: 70px;
}

.box p{
    color: white;
}

.box{
    transform: translate(-50%, -50%);
}
.Oldbox{
    transform: translate(-50%, -50%);
    left: 25%;
}
.Updatebox{
    transform: translate(-50%, -50%);
    left:75%
}

.box h1, .Oldbox h1, .Updatebox h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    
}

.box hr, .Oldbox hr, .Updatebox hr{
    border: 1.5px solid rgba(10, 10, 10, 0.5);
    border-radius: 0.75px;
    margin-bottom: 50px;
}

.box input[type="text"], .Oldbox input[type="text"], .Updatebox input[type="text"], 
.box input[type="password"], .Oldbox input[type="password"], .Updatebox input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 70%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 24px;
}


.box input[type="text"]:focus, .Oldbox input[type="text"]:focus, .Updatebox input[type="text"]:focus, 
.box input[type="password"]:focus, .Oldbox input[type="password"]:focus, .Updatebox input[type="password"]:focus{
    width: 70%;
    border-color: #2ecc71;
}



.box input[type="button"], .Oldbox input[type="button"], .Updatebox input[type="button"]{
    border: 0;
    background: none;
    display: block;
    width: 50%;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 24px;
}


.box input[type="button"]:hover, .Oldbox input[type="button"]:hover, .Updatebox input[type="button"]:hover{
    background: #2ecc71;
}

.textStyle>p{
    display: inline;
}
.textStyle h3{
    display: inline;
}
.textStyle{
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.todoStyle{
    float: left;
    padding-right: 30px;
    border: solid 1px black;
    transform: translateY(50px);
    margin-left: 15px;
    border-radius: 10px;
}
.todoStyle ul{
    padding-left:20px;
    transition: 0s 60s;
}
.todoStyle:hover ul{
    padding-left:20px;
    display: block;
    transition: 0s;
}

.header p{
    display: inline;
}

.DelButton{
    float: right;
    font-size: 40px;
    cursor: pointer;
}